* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.faq {
    max-width: 36rem;
}

.faq__toggle {
    background-color: transparent;
    background-image: url("../assets/images/icon-plus.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    cursor: pointer;
    height: 28px;
    width: 28px;
}

.faq__answer {
    display: grid;
    grid-template-rows: 0fr;
    transition: .5s;
}

.faq__answer-text {
    overflow: hidden;
}

.active {
    grid-template-rows: 1fr;
}